body {
  margin: 0;
}

.top-wrapper {
  position: relative;
}

.top-image {
  height: 100vh;
  width: 100vw;
  background-image: url(image/code.jpg);
  opacity: 0;
}

.top-content {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  font-size: 50px;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
}

.content {
  display: none;
}

/* 画面の二つ目の要素 */
.worry {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.worry-title {
  height: 25vh;
  position: relative;
}

.worry-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  border-bottom: 3px double pink;
}

.worry-list {
  height: 50vh;
  width: 80vw;
  margin: 0 auto;
  font-size: 20px;
}

.worry-list-text {
  margin-bottom: 30px;
  padding: 15px;
  border: 3px double #87cefa;
}

.worry-list-border {
  border-bottom: 2px solid yellow;
}

.worry-list-color-bold {
  font-weight: bold;
  color: red;
}

.worry-arrow {
  height: 20vh;
  position: relative;
}

.worry-arrow-area {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.worry-arrow-circle {
  display: inline-block;
  background-color: red;
  padding: 30px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.worry-arrow-circle:hover {
  opacity: 0.5;
}

/* 三つ目のブロック */
.reason {
  height: 170vh;
  width: 100vw;
}

.reason-flex {
  height: 100%;
  display: flex;
}

.side-area {
  height: 100%;
  width: 10%;
  position: relative;
  background-color: skyblue;
}

.reason-content {
  height: 100%;
  width: 80%;
  position: relative;
  color: white;
}

/* .side-area-block {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translateY(-0%);
  background-color: skyblue;
} */

.reason-content-image {
  height: 100%;
  width: 100%;
  background-image: url(image/night.jpg);
  opacity: 0.8;
}

.reason-content-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.reason-content-text-title {
  height: 25vh;
  position: relative;
}

.reason-content-text-title > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  border-bottom: 3px double pink;
  font-weight: bold;
}

.reason-content-description .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.reason-content-description .description {
  width: 80%;
  margin: 0 auto;
  background-color: #fffaf0;
  color: black;
  padding: 10px;
  line-height: 2.5em;
  letter-spacing: 0.2em;
  margin-bottom: 100px;
}

.reason-content-description .description .color-and-border {
  color: #2769f2;
  font-size: 20px;
  border-bottom: 3px solid #ffa500;
  font-weight: bold;
}

.reason-content-description .description .bold {
  font-weight: bold;
  font-size: 18px;
}

.reason-content-description .description .strong {
  font-weight: bold;
  font-size: 20px;
  color: red;
  border-bottom: 3px solid yellow;
}


/* 4つ目のブロック */
.self-introduce {
  height: 100vh;
  width: 100vw;
}

.self-introduce-flex {
  display: flex;
  height: 100%;
}

.self-introduce-side {
  height: 100%;
  width: 10%;
  background-color: skyblue;
}

.self-introduce-content {
  height: 100%;
  width: 80%;
}

.self-introduce-content-title {
  height: 12vh;
  position: relative;
}

.self-introduce-content-title div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-weight: bold;
  border-bottom: 3px double pink;
}

.self-introduce-content-main {
  height: 88vh;
  display: flex;
}

.self-introduce-content-main-left {
  height: 100%;
  width: 60%;
}

.image-and-acount {
  height: 40%;
}

.career {
  height: 30%;
}

.have-skill {
  height: 30%;
}

.image-and-acount-flex {
  display: flex;
  height: 100%;
}

.image {
  height: 100%;
  width: 50%;
  position: relative;
}

.image-content {
  height: 90%;
  width: 90%;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-image: url(image/code.jpg);
}

.acount {
  height: 100%;
  width: 50%;
  position: relative;
}

.acount-content {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  vertical-align: middle;
}

.twitter-acount {
  height: 25%;
}

.blog-acount {
  height: 25%;
}

.youtube-acount {
  height: 25%;
}

.github-acount {
  height: 25%;
}

.career-title, .have-skill-title {
  height: 20%;
  position: relative;
}

.career-title div, .have-skill-title div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px double pink;
}

.career-content, .have-skill-content {
  padding: 10px;
  height: 70%;
  width: 90%;
  margin: 0 auto;
  background-color: #ffe4c4;
  letter-spacing: 0.3em;
  line-height: 2em;
}

.self-introduce-content-main-right {
  height: 100%;
  width: 40%;
  font-size: 25px;
  background-color: #e6e6fa;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.soccer-move {
  position: absolute;
  top: 0;
  right: 10%;
}